@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

@layer utilities {
  .paddingX {
    @apply sm:px-16 px-6;
  }

  .paddingY {
    @apply sm:py-16 py-6;
  }

  .padding {
    @apply sm:px-16 px-6 sm:py-16 py-10;
  }

  .heroHeadText {
    @apply font-black text-white lg:text-6xl sm:text-5xl xs:text-4xl text-3xl lg:leading-tight mt-2;
  }

  .heroSubText {
    @apply text-[#dfd9ff] font-medium lg:text-3xl sm:text-2xl xs:text-xl text-base lg:leading-relaxed;
  }

  .sectionHeadText {
    @apply text-white font-black md:text-5xl sm:text-4xl xs:text-3xl text-2xl;
  }

  .sectionSubText {
    @apply sm:text-lg text-base text-secondary uppercase tracking-wider;
  }
}

.hero {
  background-image: url("/public/assets/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
